<div class='edit-panel container col-md-4'>
  Name:
  <input type="text" ng-model="cv.basics.name">
  Email:
  <input type="text" ng-model="cv.basics.email">
  Phone:
  <input type="text" ng-model="cv.basics.phone">
  Website:
  <input type="text" ng-model="cv.basics.website">
  Summary:
  <input type="text" ng-model="cv.basics.summary">
</div> <!-- end edit panel -->

<div class='cv-panel container col-md-8'>
  <h1>{{cv.basics.name}}</h1>
  {{cv.basics.email}}
  {{cv.basics.phone}}
  {{cv.basics.website}}
  <p>{{cv.basics.summary}}</p>
  <h2 ng-if="cv.skills.length > 0">SKILLS</h2>
  <div ng-repeat="skill in cv.skills">
    {{skill.name}}
    {{skill.level}}
    <ul ng-repeat="keyword in skill.keywords">
      <li>{{keyword}}</li>
    </ul>
  </div>
  <h2 ng-if="cv.work.length > 0">EXPERIENCE</h2>
  <div ng-repeat="work in cv.work">
    {{work.company}}
    {{work.position}}
    {{work.website}}
    {{work.startDate}}
    {{work.endDate}}
    {{work.summary}}
    <ul ng-repeat="hl in work.highlights">
      <li>{{hl}}</li>
    </ul>
  </div>
  <h2 ng-if="cv.volunteer.length > 0">VOLUNTEERING</h2>
  <div ng-repeat="volunteer in cv.volunteer">
    {{volunteer.organization}}
    {{volunteer.position}}
    {{volunteer.website}}
    {{volunteer.startDate}}
    {{volunteer.endDate}}
    {{volunteer.summary}}
    <ul ng-repeat="hl in volunteer.highlights">
      <li>{{hl}}</li>
    </ul>
  </div>
  <h2 ng-if="cv.education.length > 0">EDUCATION</h2>
  <div ng-repeat="edu in cv.education">
    {{edu.institution}}
    {{edu.area}}
    {{edu.studyType}}
    {{edu.startDate}}
    {{edu.endDate}}
    {{edu.gpa}}
    <ul ng-repeat="course in edu.courses">
      <li>{{course}}</li>
    </ul>
  </div>
  <h2 ng-if="cv.awards.length > 0">AWARDS</h2>
  <div ng-repeat="award in cv.awards">
    {{award.title}}
    {{award.date}}
    {{award.awarder}}
    {{award.summary}}
  </div>
  <h2 ng-if="cv.publications.length > 0">PUBLICATIONS</h2>
  <div ng-repeat="publication in cv.publications">
    {{publication.name}}
    {{publication.publisher}}
    {{publication.releaseDate}}
    {{publication.website}}
    {{publication.summary}}
  </div>
  <h2 ng-if="cv.languages.length > 0">LANGUAGES</h2>
  <div ng-repeat="lang in cv.languages">
    {{lang.name}}
    {{lang.level}}
  </div>
  <h2 ng-if="cv.interests.length > 0">INTERESTS</h2>
  <div ng-repeat="interest in cv.interests">
    {{interest.name}}
    <ul ng-repeat="keyword in interest.keywords">
      <li>{{keyword}}</li>
    </ul>
  </div>
  <h2 ng-if="cv.references.length > 0">REFERENCES</h2>
  <div ng-repeat="reference in cv.references">
    {{reference.name}}
    {{reference.reference}}
  </div>
</div> <!-- end CV panel -->
